header {
    color: #e3e3e3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

#logo {
    width: 70px;
    height: 70px;
}

nav {
    font-size: 20px;
    display: flex;
    gap: 1em;
}

.nav-btn {
    border-bottom: 1px solid transparent;
    padding: .3em;
    transition: .3s;
}

.nav-btn:hover {
    border-bottom: 1px solid #e3e3e3;
    padding: .3em;
    cursor: pointer;
}