.publication {
    width: 80%;
    height: auto;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: rgba(30, 30, 30, .9);
    margin: 1em 0;
}

.inner-p-container {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: .5em;
    margin: .5em;
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid #ffffff;
    border-radius: 10px;
}

.prf-img {
    width: 100px;
    height: 100px;
    border: 3px solid #e3e3e3;
    border-radius: 50%;
}

.prf-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.prf-img-no-border {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.prf-img-no-border img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.inner-p-container a {
    width: 100%;
    color: #e3e3e3;
    text-decoration: none;
}

.pub-img {
    width: 100%;
    height: auto;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pub-img img {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.pub-img {
    width: 100%;
    height: auto;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pub-img img {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.pub-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    border-radius: 5px;
}

.pub-content h2 {
    margin: 0 auto;
}

.pub-content p {
    word-break: break-all;
    border-radius: 3px;
}

.pub-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.engagement {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5em;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1em;
}

.inner-engagement-container {
    display: flex;
    gap: .5em;
}

.inner-engagement-container button {
    background: none;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

.fa-thumbs-up {
    color: #5462ff;
}

.fa-comment {
    color: #fff;
}

.comment-form form {
    height: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.comment-form form textarea {
    resize: none;
    field-sizing: content;
    outline: none;
    padding: .5em;
    border-radius: 10px;
}

.comment-form form .buttons {
    display: flex;
    gap: .3em;
    margin-left: auto;
}

.comment-form form .buttons button:first-child {
    font-family: Inter, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    padding: .2em;
}

.cancel-btn {
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cancel-btn i {
    padding-top: .2em;
}

.comments-container {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.comment {
    display: flex;
    flex-direction: column;
    gap: .3em;
}

.comment-profile {
    display: flex;
    align-items: flex-start;
    gap: .5em;
}

.comment .prf-cmt-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.cmt-prf-inr-cntr {
    width: 100%;
    color: #000;
    background-color: #e3e3e3;
    padding: .3em;
    border-radius: 5px;
}

.comment-profile .cmt-names {
    display: flex;
    gap: .2em;
}

.cmt-engagement {
    width: 100%;
    display: flex;
    gap: .3em;
}

.cmt-engagement button {
    background: none;
    border: none;
    cursor: pointer;
}

.cmt-likes {
    margin-left: auto;
    font-size: 13px;
}

.comment-and-edit {
    display: flex;
    align-items: center;
    gap: .5em;
}

.fa-ellipsis {
    padding-bottom: 1em;
    cursor: pointer;
}

.fa-reply {
    color: #5462ff;
}

.reply-form {
    width: 35%;
    display: flex;
    align-items: center;
    gap: .5em;
}

.reply-form textarea {
    width: 100%;
    resize: none;
    field-sizing: content;
    outline: none;
    padding: .5em;
    border-radius: 5px;
}

.reply-form button {
    font-family: Inter, sans-serif;
    font-weight: bold;
    padding: .5em;
    border-radius: 5px;
}

#message {
    color: red;
    margin-right: auto;
}