.publication {
    width: 60%;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    color: #e3e3e3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7em;
    padding: 1em;
}

.profile {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5em;
    margin: .5em;
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: .5em;
    border-bottom: 1px solid #ffffff;
    border-radius: 10px;
}

.prf-img {
    width: 100px;
    height: 100px;
    border: 3px solid #e3e3e3;
    border-radius: 50%;
}

.prf-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.prf-img-no-border {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.prf-img-no-border img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.pub-img {
    width: 90%;
    height: 90%;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pub-img img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.pub-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .3em;
}

.publication h2 {
    display: inline-block;
}

.publication p {
    word-break: break-all;
    border-radius: 3px;
}

.pub-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.engagement {
    width: 90%;
    display: flex;
    align-items: center;
    gap: .5em;
}

.engagement button {
    background: none;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

.fa-thumbs-up {
    color: #5462ff;
}

#message {
    color: red;
    margin-right: auto;
}