.publication-detail {
    width: 50%;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: rgba(30, 30, 30, .9);
    margin: 1em 0;
}

.publication-detail .inner-p-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.publication-detail .profile {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: .5em;
    margin: .5em;
}

.publication-detail .profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid #ffffff;
    border-radius: 10px;
}

.publication-detail .prf-img {
    width: 100px;
    height: 100px;
    border: 3px solid #e3e3e3;
    border-radius: 50%;
}

.publication-detail .prf-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.publication-detail .prf-img-no-border {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.publication-detail .prf-img-no-border img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.publication-detail .inner-p-container a {
    width: 100%;
    color: #e3e3e3;
    text-decoration: none;
}

.publication-detail .pub-img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.publication-detail .pub-img img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.publication-detail .pub-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    border-radius: 5px;
}

.publication-detail .pub-content h2 {
    margin: 0 auto;
}

.publication-detail .pub-content p {
    word-break: break-all;
    border-radius: 3px;
    margin-bottom: .5em;
}

.publication-detail .pub-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.publication-detail .engagement {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5em;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.publication-detail .inner-engagement-container {
    display: flex;
    gap: .5em;
    padding: 1em 1em 0 1em;
}

.publication-detail .engagement button {
    background: none;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

.publication-detail .fa-thumbs-up {
    color: #5462ff;
}

.publication-detail .fa-comment {
    color: #fff;
}

.publication-detail .comment-form {
    width: 70%;
    margin-right: auto;
}

.publication-detail .comment-form form {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.publication-detail .comment-form form textarea {
    field-sizing: content;
    outline: none;
    padding: .5em;
    border-radius: 10px;
    resize: none;
}

.publication-detail .buttons {
    display: flex;
    justify-content: flex-end;
    gap: .5em;
}

.publication-detail .comment-form form button {
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: .1em;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.publication-detail .cancel-btn {
    color: red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.publication-detail #message {
    color: red;
    margin-right: auto;
}

.comment-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5em;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1em;
}

.prf-cmt-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.comment-and-edit {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
}

.comment {
    width: 100%;
    word-break: break-all;
    color: #111;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: .7em;
}

.comment-profile {
    display: flex;
    align-items: center;
    gap: .3em;
}

.comment-cmt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .2em;
    margin-top: .3em;
}

.cmt-names {
    display: flex;
    gap: .2em;
}

.prf-cmt-fn, .prf-cmt-ln {
    font-size: 12px;
    font-weight: bold;
}

.cmt-engagement {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .3em;
}

.cmt-likes {
    height: 20px;
    margin-left: auto;
}

.fa-ellipsis {
    cursor: pointer;
}

.fa-reply {
    color: #5462ff;
}