.publications-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
    position: relative;
}

.publications-container h1 {
    margin: 0 auto;
}

.publications-container button {
    width: 100px;
    margin: 0 auto;
}

.publications {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

.publication {
    width: 100%;
    border: 1px solid #e3e3e3;
    padding: 1em;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #e3e3e3;
    text-decoration: none;
}

.publication .pub-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.publication h2 {
    display: inline-block;
}

.publication p {
    word-break: break-all;
    border-radius: 3px;
}