.register-container {
    width: 50%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border-radius: 5px;
}

.register-container form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.register-container form label {
    margin-right: auto;
}

.register-container form input {
    font-size: 20px;
    width: 100%;
    outline: none;
    height: 35px;
    border-radius: 5px;
    padding: .2em;
    margin-bottom: .5em;
}

.register-container form button {
    font-family: Inter, sans-serif;
    font-weight: bold;
    width: 100%;
    height: 2.4em;
    padding: .5em;
    margin-top: .7em;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}